body {
  background-color: #181716 !important;

  h1 {
    color: #E5D8CE;
  }

  .form-btn{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }


  .form-label{
    color: #E5D8CE;
  }
}
